body {
  background-color: rgba(70, 114, 186, 1);
}

.name {
  text-shadow: 2px 2px 3px white;
  font-family: 'Roboto';
  font-size: 40px;
  text-align: center;
  }

.tornado {
  text-shadow: 2px 2px 3px red;
  font-family: 'Yrsa';
  font-size: 20px;
  text-align: left;
  }

.racecar {
  text-shadow: 2px 2px 3px white;
  font-family: 'Pacifico';
  font-size: 20px;
  text-align: center;
  }

.dev {
  text-shadow: 2px 2px 3px blue;
  font-family: 'Love Ya Like A Sister';
  font-size: 20px;
  text-align: right;
  }

.quote {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 2px white;
  }

.lightercontentbox {
  background-color: rgba(255,255,255,0.4);
  margin: 50px 50px;
  padding: 25px;
  border-radius: 15px;
  
}
