body {
  background-color: rgba(70, 114, 186, 1);
}

dt {
  display: inline;
  font-size: 20px;
}

.name {
  text-shadow: 2px 2px 3px white;
  font-family: 'Merriweather';
  font-size: 50px;
  text-align: center;
  }



.tornado {
  text-shadow: 1px 1px 2px rgba(70, 114, 186, 1);
  font-family: 'Yrsa';
  font-size: 30px;
  text-align: left;
  display: inline;
  }

.racecar {
  text-shadow: 1px 1px 2px rgba(70, 114, 186, 1);
  font-family: 'Pacifico';
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  display: inline;
  }

.dev {
  text-shadow: 2px 2px 3px white;
  font-family: 'Love Ya Like A Sister';
  font-size: 30px;
  text-align: center;
  display: inline;
  }

.quote {
  font-family: 'Architects Daughter', sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(70, 114, 186, 1);
  }

.lightercontentbox {
  background-color: rgba(255,255,255,0.4);
  margin: 50px 50px;
  padding: 25px;
  border-radius: 15px;
  
}
