body {
  background-color: rgba(70, 114, 186, 1);
}

h1 {
  font-family: 'Roboto', sans-serif;
  }

.grabber {
  text-shadow: 2px 2px 3px white;
  }

.quote {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 2px white;
  }

.lightercontentbox {
  background-color: rgba(255,255,255,0.4);
  margin: 50px 50px;
  padding: 25px;
  border-radius: 15px;
  
}
